@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  /*font-family: Raleway;*/
  font-family: Nunito;
  background-color: #000000;
}
/*------------------------------------------------------
preload CSS
------------------------------------------------------*/

.elotoltes{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: #000000;
  transition-delay: 99999999s;
  transition-duration: 0.5s;
  transform-style: ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.elotoltes-gif{
  height: 200px;
}

.elotoltes:hover{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0);
  opacity: 0;
  transition-delay: 4s;
  transition-duration: 0.4s;
  transform-style: ease;
  z-index: -20;
}

.alsopadding0{
  padding-bottom: 20px;
}

.nagyobbsormagassag{
  line-height: 40px;
}
/*------------------------------------------------------
navigation bar CSS
------------------------------------------------------*/
.navsav {
    width: 100%;
    height: 78px;
    position: fixed;
    top: 0px;
    z-index: 10;
    list-style-type: none;
    display: inline-block;
    background-color: rgba(255, 0, 0, 0);
}
.logo {
    display: inline-block;
    position: fixed;
    left: 0px;
    top: 0px;
    /*vertical-align: top;*/
    height: 70px;
    margin-left: 15px;
    margin-top: 13px;
    background-color: rgba(255, 0, 0, 0);
    z-index: 15;
    transition: 0.6s ease;
}
.logo:hover{
  height: 72px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10%;
  transition: 0.6s ease;
}
.navsav-bg{
  display: inline-block;
  position: fixed;
  right: 0px;
  top: 0px;
  /*vertical-align: top;
  float: right;*/
  height: 78px;
  background-color: rgba(255, 0, 0, 0);
}

ul{
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 23px;
  margin-top: 26px;
  background-color: rgba(255, 0, 0, 0);
}

ul li{
  display: inline-block;
  background-color: rgba(255, 0, 0, 0);
}

ul li a{
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  padding: 5px 10px;
  background-color: rgba(255, 0, 0, 0);
  transition: 0.6s ease;
}

ul li a:hover{
  font-weight: 600;
  text-decoration: none;
  color: #D5D5D5;
  background-color: rgba(255, 0, 0, 0);
}

ul li a b{
  /*font-weight: 500;*/
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  padding: 5px 15px;
  background-color: rgba(255, 0, 0, 0);
  transition: 0.6s ease;
}

ul li b:hover{
  font-weight: 700;
  text-decoration: none;
  color: #D5D5D5;
  background-color: rgba(255, 0, 0, 0);
}

/*--------------------------------------------------------------
Footer css
--------------------------------------------------------------*/
.lablec {
    width: 100%;
    height: 70px;
    z-index: 9;
    list-style-type: none;
    display: inline-block;
    background-color: rgba(255, 0, 0, 0);
}

.lablec-bg{
  position: fixed;
  bottom: 0vh;
  right: 0vh;
  z-index: 9;
  display: inline-block;
  float: right;
  height: 70px;
  background-color: rgba(255, 0, 0, 0);
}

.lablecszoveg{
  position: fixed;
  bottom: 0vh;
  right: 0vh;
  z-index: 9;
  list-style-type: none;
  margin-bottom: 5px;
  margin-right: 20px;
  letter-spacing: 3px;
  line-height: 15px;
}

h6{
  font-weight: 300;
  background-color: #1A1A1A;
  color: #939393;
  padding: 2px;
}

h6 a{
  text-decoration: none;
  background-color: #1A1A1A;
  color: #125674;
  transition: 0.4s ease;
}

h6 a:hover{
  /*font-weight: 500;*/
  font-weight: 400;
  color: #156C91;
}

/*---------------------------------------------------------
content all page css
---------------------------------------------------------*/

.kontener{
  width: 100vh;
  background-color: rgba(255, 0, 0, 0);
  display: flex;
  flex-wrap: wrap;
}

h1{
  color: #D5D5D5;
  font-weight: 300;
  font-size: 50px;
  background-color: rgba(255, 0, 0, 0);
}

h1 a{
  /*font-weight: 500;*/
  font-weight: 400;
  text-decoration: none;
  color: #125674;
  transition: 0.2s ease;
  background-color: rgba(255, 0, 0, 0);
}

h1 a:hover{
  font-weight: 700;
  color: #156C91;
  background-color: rgba(255, 0, 0, 0);
}

h2{
  color: #D5D5D5;
  font-weight: 200;
  font-size: 25px;
  background-color: rgba(255, 0, 0, 0);
}

h2 a{
  /*font-weight: 500;*/
  font-weight: 400;
  text-decoration: none;
  color: #125674;
  transition: 0.2s ease;
  font-size: 27px;
  background-color: rgba(255, 0, 0, 0);
}

h2 a:hover{
  font-weight: 700;
  color: #156C91;
}

h3{
  color: #D5D5D5;
  /*font-weight: 500;*/
  font-weight: 400;
  font-size: 30px;
  background-color: rgba(255, 0, 0, 0);
}

h4{
  color: #D5D5D5;
  font-weight: 200;
  font-size: 20px;
  background-color: rgba(255, 0, 0, 0);
}

h4 a{
  /*font-weight: 500;*/
  font-weight: 400;
  text-decoration: none;
  color: #125674;
  transition: 0.2s ease;
  font-size: 20px;
  background-color: rgba(255, 0, 0, 0);
}

h4 a:hover{
  font-weight: 600;
  color: #156C91;
}

td{
  padding: 15px;
  text-align: center;
  background-color: rgba(255, 0, 0, 0);
}

h5{
  color: #D5D5D5;
  font-weight: 300;
  font-size: 40px;
  background-color: rgba(255, 0, 0, 0);
}

h5 a{
  font-weight: 200;
  text-decoration: none;
  color: #125674;
  transition: 0.2s ease;
  font-size: 40px;
  background-color: rgba(255, 0, 0, 0);
}

h5 a:hover{
  /*font-weight: 500;*/
  font-weight: 400;
  color: #156C91;
}

/*---------------------------------------------------------
content main css
---------------------------------------------------------*/

.h2fooldal{
  position: absolute;
  left: 45%;
  top: 70%;
  z-index: 2;
  margin-right: 3%;
}

.fooldalkep1{
  position: absolute;
  max-height: 100%;
  left: 5%;
  max-width: 60%;
  bottom: 0%;
}

.h1fooldal{
  position: absolute;
  left: 45%;
  top: 35%;
  z-index: 2;
}

/*---------------------------------------------------------
content about css
---------------------------------------------------------*/

.rolamkep1{
  position: absolute;
  top: 20%;
  max-height: 65%;
  max-width: 30%;
  right: 5%;
  border-radius: 7%;
  border: 5px solid #125674;
  z-index: 5;
}

.h1rolam1{
  position: absolute;
  top: 24%;
  left: 5%;
  margin-right: 40%;
  z-index: 2;
}

.h2rolam1{
  position: absolute;
  top: 40%;
  left: 5%;
  margin-right: 45%;
  z-index: 2;
}

.h3rolam{
  position: absolute;
  top: 92%;
  left: 5%;
  margin-right: 40%;
  z-index: 2;
}

.nyilgorgess{
  vertical-align: middle;
  height: 30px;
  transition: 0.2s ease;
  background-color: rgba(255, 0, 0, 0);
}

.nyilgorgess:hover{
  height: 37px;
  width:25px
}

.rolamkep2{
  max-height: 65vh;
  max-width: 30vw;
  border-radius: 7%;
  border: 5px solid #125674;
  z-index: 5;
}

.rolam2pluszhely{
  position: absolute;
  top: 120%;
  max-height: 65vh;
  max-width: 30vw;
  left: 5%;
  padding-bottom: 80px;
}

.h1rolam2{
  position: absolute;
  top: 114%;
  left: 40%;
  margin-right: 5%;
  z-index: 2;
}

.h2rolam2{
  position: absolute;
  top: 130%;
  left: 40%;
  margin-right: 5%;
  z-index: 2;
  padding-bottom: 80px;
}

/*---------------------------------------------------------
content photography css
---------------------------------------------------------*/

.h2fotozas1{
  position: absolute;
  top: 25%;
  left: 5%;
  max-width: 40%;
  margin-right: 45%;
  z-index: 2;
  font-style: 200;
  line-height: 35px;
}

.h2fotozas2{
  position: absolute;
  bottom: 5%;
  left: 5%;
  max-width: 60%;
  margin-right: 45%;
  z-index: 2;
  font-style: 200;
  line-height: 35px;
}

.fototablazat{
  position: absolute;
  top: 20%;
  left: 50%;
  max-width: 20vh;
  text-align: center;
  margin-bottom: 15%;
}

.fotokategoria{
  max-width: 35vh;
  border-radius: 7%;
  border: 3px solid #125674;
}

.fotokategoria:hover{
  border: 3px solid #156C91;
}

/*---------------------------------------------------------
content videography css
---------------------------------------------------------*/

.h1videozas{
  position: absolute;
  top: 17%;
  left: 5%;
  margin-right: 40%;
  z-index: 2;
}

.h2videozas{
  position: absolute;
  top: 30%;
  left: 5%;
  max-width: 40%;
  margin-right: 45%;
  z-index: 2;
  font-style: 200;
  line-height: 35px;
}

/*---------------------------------------------------------
content egyeb css
---------------------------------------------------------*/

.egyebkep1{
  position: absolute;
  top: 15%;
  max-height: 35%;
  max-width: 30%;
  right: 5%;
  border-radius: 7%;
  border: 5px solid #125674;
  z-index: 5;
}

.egyebkep2{
  position: absolute;
  top: 55%;
  max-height: 35%;
  max-width: 30%;
  right: 5%;
  border-radius: 7%;
  border: 5px solid #125674;
  z-index: 5;
}

.h1egyeb{
  position: absolute;
  top: 115%;
  left: 8%;
  right: 8%;
}

.egyebkep3{
  position: absolute;
  top: 134%;
  max-height: 35%;
  max-width: 32%;
  left: 5%;
  border-radius: 7%;
  border: 5px solid #125674;
  z-index: 5;
}

.h2egyeb2{
  position: absolute;
  top: 135%;
  left: 40%;
  margin-right: 5%;
  z-index: 2;
  padding-bottom: 80px;
}

.h2egyeb3{
  position: absolute;
  top: 180%;
  left: 5%;
  margin-right: 45%;
  z-index: 2;
}

.egyebkep4{
  position: absolute;
  top: 185%;
  max-height: 65%;
  max-width: 35%;
  right: 5%;
  border-radius: 7%;
  border: 5px solid #125674;
  z-index: 5;
}

.h2egyeb4{
  position: absolute;
  top: 255%;
  left: 40%;
  margin-right: 5%;
  z-index: 2;
  padding-bottom: 80px;
}

.egyebkep5{
  border-radius: 7%;
  border: 5px solid #125674;
  z-index: 5;
}

.egyebkep5pluszhely{
  position: absolute;
  top: 252%;
  max-height: 35%;
  max-width: 32%;
  left: 5%;
  border-radius: 7%;
  padding-bottom: 80px;
}

/*---------------------------------------------------------
content egyeb css
---------------------------------------------------------*/

.kapcsolatkep1{
  position: absolute;
  right: 0%;
  bottom: 0%;
  height: 100%;
  max-width: 75%;
}

.h1kapcsolat{
  position: absolute;
  left: 3%;
  top: 30%;
  z-index: 2;
  font-weight: 200;
}

.h2kapcsolat{
  position: absolute;
  left: 5%;
  top: 50%;
  z-index: 2;
  margin-right: 3%;
}

.kozmedikon{
  vertical-align: middle;
  height: 50px;
}
